body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: #1a1a1a;
  color: white;
}

.header {
  padding: 0 20px;
  height: 80px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 0 10px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #4b587c;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.right .profile:hover {
  background-color: #ff8c69;
}

.right .submit {
  color: orangered;
  font-weight: 300;
}

.notification {
  height: 35px;
  width: 35px;
}

.notification img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: salmon;
  color: white;
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 50px 250px;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.row {
  width: 80vw;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.row:hover {
  background: linear-gradient(to left bottom, rgba(254, 237, 230, 0.5), white);
}

.row .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.row .left .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upvote {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  border: 2px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}
